In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [12]:
zip_file = "population_by_zip_2010.csv"
zip_df = pd.read_csv(zip_file)
zip_df.head()

   population  minimum_age  maximum_age  gender  zipcode          geo_id
0          50         30.0         34.0  female    61747  8600000US61747
1           5         85.0          NaN    male    64120  8600000US64120
2        1389         30.0         34.0    male    95117  8600000US95117
3         231         60.0         61.0  female    74074  8600000US74074
4          56          0.0          4.0  female    58042  8600000US58042

In [3]:
ordinance_file = "ordinance-violations_2010.csv"
ordinance_df = pd.read_csv(ordinance_file)
ordinance_df.head()

,ID,DOCKET NUMBER,NOV NUMBER,ADDRESS,STREET NUMBER,STREET DIRECTION,STREET NAME,STREET TYPE,WARD,ISSUING DEPARTMENT,...,VIOLATION DESCRIPTION,RESPONDENTS,LATITUDE,LONGITUDE,LOCATION,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,e7a5f1c88a4f8e4407830caea275d985e19b514f,10BS02725A,10LO249937,7347 W IRVING PARK RD,7347,W,IRVING PARK,RD,38.0,Buildings,...,Obtain permit before causing or commencing the...,FRANK CARBONARA | FRANK CARBONARA TRUST C/O FR...,41.952548,-87.811997,"{'human_address': '{""address"": """", ""city"": """",...",39.0,22254.0,17.0,392.0,19.0
1,8208b0059edd73ac9f1f2026443d60d3a57ed959,10BS02713A,10W0249913,6334 S CALIFORNIA AVE,6334,S,CALIFORNIA,AVE,17.0,Buildings,...,Repair or replace exterior balcony. (13-196-530),BLANCA R CRUZ A/K/A BLANCA CRUZ,41.778042,-87.693511,"{'human_address': '{""address"": """", ""city"": """",...",44.0,21867.0,64.0,319.0,31.0
2,e326ee048b4249fbd261f53492e254fbbc86baa3,10BS02713A,10W0249913,6334 S CALIFORNIA AVE,6334,S,CALIFORNIA,AVE,17.0,Buildings,...,Equip exit door with door lock hardware so doo...,BLANCA R CRUZ A/K/A BLANCA CRUZ,41.778042,-87.693511,"{'human_address': '{""address"": """", ""city"": """",...",44.0,21867.0,64.0,319.0,31.0
3,16c61b0f79e7ba45b5cd2ff5c556b8c095a13b0c,10BS02713A,10W0249913,6334 S CALIFORNIA AVE,6334,S,CALIFORNIA,AVE,17.0,Buildings,...,Repair or replace defective lintels. (13-196-5...,BLANCA R CRUZ A/K/A BLANCA CRUZ,41.778042,-87.693511,"{'human_address': '{""address"": """", ""city"": """",...",44.0,21867.0,64.0,319.0,31.0
4,04462c58cc95b65389faf423022cb309535bc03a,10BS02713A,10W0249913,6334 S CALIFORNIA AVE,6334,S,CALIFORNIA,AVE,17.0,Buildings,...,"Repair exterior wall. (13-196-010, 13-196-530 B)",BLANCA R CRUZ A/K/A BLANCA CRUZ,41.778042,-87.693511,"{'human_address': '{""address"": """", ""city"": """",...",44.0,21867.0,64.0,319.0,31.0

### Transform Zip DataFrame

In [35]:
new_zip_df = zip_df[["population", "zipcode"]]
final_zip_df = zip_group.reset_index()
final_zip_df.index.name = 'id'
zip_group = new_zip_df.groupby('zipcode').sum()
final_zip_df = final_zip_df.dropna()
final_zip_df.head()

    zipcode  population
id
0       602      124560
1       603      164067
2       606       19845
3       610       87048
4       612      201030

### Transform Ordinance DataFrame

In [26]:
new_ordinance_df = ordinance_df[["ID", "Zip Codes","VIOLATION CODE","VIOLATION DESCRIPTION","VIOLATION DATE"]]
new_ordinance_df.columns = ["id", "zipcode", "violation_code", "violation_desc", "violation_date"]
new_ordinance_df = new_ordinance_df.set_index('id')
new_ordinance_df = new_ordinance_df.dropna()
new_ordinance_df.head()

,zipcode,violation_code,violation_desc,violation_date
id,,,,
e7a5f1c88a4f8e4407830caea275d985e19b514f,22254.0,220096,Obtain permit before causing or commencing the...,2010-02-19T09:00:00.000
8208b0059edd73ac9f1f2026443d60d3a57ed959,21867.0,66034,Repair or replace exterior balcony. (13-196-530),2010-02-26T09:00:00.000
e326ee048b4249fbd261f53492e254fbbc86baa3,21867.0,15012,Equip exit door with door lock hardware so doo...,2010-02-26T09:00:00.000
16c61b0f79e7ba45b5cd2ff5c556b8c095a13b0c,21867.0,65014,Repair or replace defective lintels. (13-196-5...,2010-02-26T09:00:00.000
04462c58cc95b65389faf423022cb309535bc03a,21867.0,61014,"Repair exterior wall. (13-196-010, 13-196-530 B)",2010-02-26T09:00:00.000

### Create database connection

In [19]:
rds_connection_string = "postgres:postgres@localhost:5432/violations_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [23]:
# Confirm tables
engine.table_names()

['violations', 'zips']

### Load DataFrames into database

In [36]:
final_zip_df.to_sql(name='zips', con=engine, if_exists='append', index=True)

In [30]:
new_ordinance_df.to_sql(name='violations', con=engine, if_exists='append', index=True)